@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    font-family: "Poppins", sans-serif;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

header {
    text-align: center;
    place-content: center;
    height: 150px;
    font-size: 24px;
}

.search_container {
    max-width: 65%;
    margin: 0 auto;
}

.search_container hr {
    border: 0.8px solid #a4b0be;


    opacity: 0.6;
}

h1 {
    text-align: center;
}

.search-box {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    padding: 8px 28px 8px 30px;
    border: none;
    outline: none;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.search-box input {
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 25px;
    flex: 1;
}

.search-box input::placeholder {
    font-size: 16px;
    color: #2f3640;
}

.magnifying-glass-icon {
    color: #718093;
    font-size: 18px;
}

.content {
    display: flex;
    justify-content: center;
    place-content: center;
    min-height: 70.7vh;
    color: #576574;
}

.search-box button {
    padding: 0px 15px;
    background-color: transparent;
    color: #273c75;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.content q {
    font-size: larger;
    color: #747d8c;
    align-self: center;
    font-weight: bold;
}

.medicine_container {
    min-height: 300px;
    width: 100%;
    margin: 40px 0 0 0;
}

.medicine {
    background: linear-gradient(to right, #FFFFFF, #F7FBFA, #d9f4f3);
    width: 65%;
    min-height: 250px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.08);

    margin: 0 auto 45px;
    justify-content: space-between;
    border-radius: 10px;
    padding: 20px 20px;
    display: flex;

}

.medicine_info {
    min-width: 35%;
    max-width: 47%;

    padding: 0 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
}

.medicine-item p {
    color: #535c68;
    font-weight: 500;
}

.form {
    align-items: center;
    display: flex;
    margin: 0 0 0px 0;

}

.strength {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.info-form {
    height: 60px;
    overflow: hidden;
    max-width: 32%;
    flex-wrap: wrap;
    padding: 0 5px;
    display: flex;
    align-items: center;
}


.info-strength {
    height: 52px;
    overflow: hidden;
    max-width: 72%;
    flex-wrap: wrap;

    display: flex;
    align-items: center;

}

.info-packaging {
    height: 55px;
    max-width: 52%;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 0 0 0px 3px;
    display: flex;
    align-items: center;
}

.strength-expanded {
    height: auto;
    margin: 5px 0;
}

.package-expanded {
    height: auto;
}

.form-expanded {
    height: auto;
}





.show-more {
    margin: 0 0 5px 0;

    align-self: center;
    font-weight: 500;
    cursor: pointer;
    color: #0c2461;
}

.form_button {
    margin: 8px 10px 8px 0 !important;

}

.strength_button {
    margin: 8px 10px 8px 0 !important;
}

.package-button {
    margin: 8px 10px 8px 0 !important;
}

.packaging {
    align-items: center;
    display: flex;
}


.medicine_info p {
    width: 107px;
}

.price {
    align-self: center;
    text-align: center;
    width: 22%;
    font-size: large
}

.medicine-details {
    align-self: center;
}

.medicine-details h4 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 3px 0;
}

.glow-button {
    background-color: transparent;
    color: #4e595d;
    outline: none;
    padding: 6px 10px;
    border: 2px solid #95a5a6;
    border-radius: 10px;
    margin: 0 10px 0 0;
    cursor: pointer;
}

.active {
    box-shadow: 0 0 5px 4px rgba(75, 207, 150, 0.5);
    outline: none;
    background-color: transparent;
    color: #353b48;
    padding: 6px 10px;
    border: 2px solid #353b48;
    border-radius: 10px;
    cursor: pointer;
    position: static;
}

.message-box {
    border: 1px solid #b2dfdb;
    border-radius: 6px;
    padding: 10px 10px;
    background-color: #ffffff;
    color: #333333;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}